:root {
  --input-button-border: 4px;
  --button-color: #e50914;
  --font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --box-color: rgba(0, 0, 0, 0.75);
  --remember-help: #b3b3b3;
  --signature-title: #fff;
  --color-face: #737373;
  --color-final: #8c8c8c;
  --saiba-mais: #0071eb;
}

#wrapper {
  background-color: var(--box-color);
}

* {
  font-family: var(--font);
}

body {
  background-image: url(/assets/backgroud-image.jpg);
}

#header img {
  max-width: 170px;
  margin: 3%;
}

#box {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 660px;
  margin-left: 470px;
  margin-top: -20px;
  /* background-color: blue; */
  border-radius: var(--input-button-border);
  background-color: rgba(0, 0, 0, 0.75);
}

#card {
  display: flex;
  flex-direction: column;
  margin: 70px;
  /* background-color: black; */
}

#card h1 {
  color: var(--signature-title);
  margin-bottom: 20px;
  font-weight: bold;
}

#card input {
  height: 55px;
  margin-bottom: 15px;
  border-radius: var(--input-button-border);
  border: none;
  background-color: #333;
  width: 100%;
}

::placeholder {
  padding: 10px;
  color: var(--color-final);
  font-size: 16px;
}

#first-button {
  height: 55px;
  margin-top: 30px;
  background-color: var(--button-color);
  color: var(--signature-title);
  border: none;
  border-radius: var(--input-button-border);
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

#remember {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  color: var(--remember-help);
  margin-top: 10px;
}
#remember a {
  text-decoration: none;
  color: var(--remember-help);
}

#footer {
  display: flex;
  flex-direction: column;
  height: 260px;
  /* background-color: green; */
}

#conect {
  display: flex;
  font-size: 13px;
  align-items: center;
  padding: 70px 0px 0px 0px;
  color: var(--color-face);
  margin-bottom: 20px;
}

#conect img {
  max-width: 20px;
}

#conect p {
  margin-left: 10px;
}

#new {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}

#new p {
  color: var(--color-face);
}

#new a {
  text-decoration: none;
}

#new a p {
  text-decoration: none;
  color: var(--signature-title);
  margin-left: 4px;
}

#final {
  font-size: 13px;
}

#final p {
  color: var(--color-final);
}

#final a {
  color: var(--saiba-mais);
  text-decoration: none;
}
